.root {
    width: 100%;
    height: 100%;
    padding: 10% 0 0 20%;
    overflow: hidden;
    background: #000;
    color: #fff;
    box-sizing: border-box;
}
.menuItem {
    margin: 20px 0;
}
.menuItemButton {
    border: 0;
    background: none;
    color: #fff;
    font-family: inherit;
    padding: 5px 10px;
    font-size: 25px;
    font-style: italic;
    cursor: pointer;
}
.menuItemButton:hover {
    transform: scale(1.1);
}
.menuItemButton:focus {
    outline: 1px dotted;
}