.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: #000;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.state-win {
    animation-name: win;
}
.state-loose {
    animation-name: loose;
}

@keyframes win {
    0% {
        background-color: #000;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes loose {
    0% {
        background-color: #000;
    }
    100% {
        background-color: #b4020a;
    }
}

.message {
    font-size: 32px;
    animation: message 3s linear;
}
@keyframes message {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.key {
    margin-top: 40px;
    font-size: 24px;
    animation: message 3s 3s backwards linear;
}