.root {
    position: absolute;
    transition: transform ease-in;
    transform-style: preserve-3d;
}
.bar {
    position: absolute;
    width: 5px;
    background: linear-gradient(to right, #000 0%, #e0e0e0 50%, #000 100%);
}
.bar.quality-0 {
    background: #e0e0e0;
}
