.quality-0.mode-1 :global(.plain) {
    background: #92938e;
}
.quality-0.mode-2 :global(.plain) {
    background: #e0e2e1;
}
.quality-0.mode-3 :global(.plain) {
    background: #827360;
}
.quality-1 :global(.plain) {
    background-position: 50% 50%;
    background-size: cover;
}
.quality-1.mode-1 :global(.plain) {
    background-image: url(./box01.jpg);
}
.quality-1.mode-2 :global(.plain) {
    background-image: url(./box02.jpg);
}
.quality-1.mode-3 :global(.plain) {
    background-image: url(./box03.jpg);
}

.broken :global(.plain):not(.bottom) {
    clip-path: polygon(0% 70%, 20% 50%, 45% 65%, 75% 60%, 100% 80%, 100% 100%, 0% 100%);
    backface-visibility: visible;
}